* {
    margin: 0;
    box-sizing: border-box;
    background-color: #EEEDEB;
}

#main {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#heading {
    border : 2px solid #2F3645;
    width: 100%;
    text-align: center;
    padding: 20px;
    color:#1f2430;
}

#container {
    height: 80vh;
    width: 70%;
    /* border: 2px solid #2F3645; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls {
    border: 2px solid #E6B9A6;
    border-radius: 10px;
    background-color: #EEEDEB;
    width: 25%;
    height: 75%;
    margin-right: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#controls div {
    margin: 15px 0;
}

#grid-container {
    background-color: #FFF8F3;
    width: 40%;
    height: 75%;
    border: 2px solid #E6B9A6;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.row {
    flex-grow: 1;
    display: flex;
}

.col {
    border: 0.5px solid #E6B9A6;
    margin: -1px 0;
    flex-grow: 1;
    background-color: #FFF8F3;
}

#footer {
    /* border: 2px solid #2F3645; */
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    color: rgb(54, 53, 53);
}

button {
    background-color: #e5bfaf;
    padding: 12px 25px;
    color: rgb(56, 56, 56);
    font-size: 15px;
    border: none;
    border-radius: 7px;
    width: 170px;
}


button:hover {
    cursor: pointer;
    background-color:#e7a487;
    color:white;
}

#size, #colours{
    font-size: 17px;
}

#gridSize {
    padding: 5px;
    border-radius: 5px;
}
